* {
    margin: 0;
    padding: 0;
  }
  
  .section {
    
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    
  }

  h1 {
    color: navy;
  }

  h2{
    color: white;
    background-color: navy;
  }

.a {
  border: solid 2px;
  padding: 1%;
  margin: 1%;
}

.b {
  border: solid 2px;
  padding: 1%;
  margin: 1%;
    

}

.section-a {
    margin: 50px;
}

.section-b {
    margin: 50px;
}